{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webinars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet"type="text/css" href="{% static 'css/webinar.css' %}">
  <link rel="icon" href="{% static 'images/eventoplanneur.png' %}" type="image/x-icon">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="containers">
      <a class="navbar-brand" href="{% url 'eventapp:orghome' %}">
        <img src="{% static 'images/Eventoplanneur.png' %}" alt="Logo" width="50"> EventoPlanneur
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
          <li class="nav-item"><a class="nav-link" href="#reviews">Reviews & Ratings</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'eventapp:org_profile' %}">Profile</a></li>
          <li class="nav-item"><a class="nav-link" href="#notifications">Notifications</a></li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a class="nav-link" >User: {{ user.email }}</a>
            <li class="nav-item"><a href="{% url 'eventapp:logout' %}" class="nav-link">Logout</a></li>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div style="margin-left:100px;margin-right:225px" >
    <div style="margin-top:50px;background-color:white;margin-left:25px;">
    <h3 >Upcoming Webinars</h3>
    <a href="{% url 'eventapp:webinar' %}" ><button id="sendButton" style="margin-left:300px;width:50%;">Manage my Webinars</button></a><br><br>
    
    <div class="container" >
      
      <div class="row">

          {% for i in allwebinars %}
          <div class="col-md-3">
              <div class="card" style="width: 18rem;padding: 5px;">
                <h4>{{ i.title }}</h4>
                <p>Date: {{ i.date }}</p>
                <p>Time: {{ i.time }}</p>
                <button id="sendButton"><a style="text-decoration:none;color:white;" href="{% url 'view_webinar' i.id %}">View</a></button>
              </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</body>
</html>